body {
  margin: 0px;
  min-height: 100%;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 60px;
}

.form-error {
  display: none;
  color: red;
  font-size: 1.1rem;
  margin-top: 3px;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 19px;
}

form {
  padding: 2em;
  background: white;
  border-radius: 1rem;
}

.submit_button {
  background-color: #0a3641;
  text-decoration: none;
  position: relative;
  top: 50px;
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin: 35px 0px;
  cursor: pointer;
  border-radius: 0.2rem;
}

.submit_button:disabled {
  background-color: rgb(171, 198, 209);
}

.message {
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.9rem;
}

.back_link {
  position: relative;
  top: 70px;
  left: 25px;
}
