/*Global*/

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  margin: 0px;
}

header,
footer {
  background-color: #dad9cc;
  color: #474204;
}

header {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  background-color: #dad9cc;
  color: #474204;
}

header a {
  color: #0a3641;
  padding: 10px;
  text-decoration: none;
}

h1 {
  color: #0a3641;
}

.cta {
  background-color: #fff;
  color: #474204;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  text-decoration: none;
  width: 190px;
  height: 45px;
}

.logo {
  margin-left: 20px;
  position: relative;
  bottom: 14px;
  
}

/*Home page*/

textarea {
  border-radius: 10px;
  margin: 10px auto;
  width: 367px;
  height: 47px;
  align-items: center;
}

.homepage__img {
  background-image: url("../images/background_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;  
  background-position-y: center;
  min-height: 100vh;
}

.slogan {
    position: absolute;
    text-align: center;
    top: 200px;
    left: 100px;
}

<i class="fas fa-cart-arrow-down"></i>
/*About*/


