/*Global*/

body {
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 55px;
}

nav ul {
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav li {
  display: inline-block;
  padding: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-style: solid;
}

header,
footer {
  background-color: #dad9cc;
}

header {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  justify-content: end;
  margin: 0px;
  font-size: 13px;
  font-family: "Merriweather", "bold";
  height: 85px;
}

header a {
  color: #0a3641;
  padding: 25px;
  text-decoration: none;
  z-index: 2;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: auto;
  justify-content: center;
}

footer {
  padding: 10px;
  display: block;
  justify-content: space-evenly;
  text-align: center;
}

footer a {
  color: #0a3641;
  padding: 5px;
  text-decoration: none;
  z-index: 2;
}

footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;
}

footer li {
  display: inline-block;
  padding: 0px;
}

h1 {
  color: #0a3641;
  font-size: 24px;
  font-family: "Merriweather Sans", sans-serif;
  margin: 10px;
}

h2 {
  color: #007694;
  font-size: 18px;
  font-family: "Quattrocento", "regular", Georgia, "Times New Roman", Times,
    serif;
  margin: 12px;
  padding: 20px;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  margin: 5px;
  font-size: 12px;
  font-family: "Merriweather", "regular", "Sans";
  text-align: center;
}

.cta {
  background: #fff;
  color: #474204;
  font-size: 19px;
  text-transform: uppercase;
  padding: 10px 70px;
  margin: 30px auto;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-decoration: none;
  width: 190px;
  height: 45px;
  font-family: "Quattrocento", "Times New Roman", Times, serif;
}

.homepage-cta:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.logo {
  position: sticky;
  right: 2900px;
  padding: 5px;
  height: 75px;
}

/*Home page*/

textarea {
  border-radius: 12px;
  border-color: #474204;
  position: absolute;
  text-align: center;
  top: 120px;
  left: 3px;
  right: 3px;
  margin: 5px auto;
  padding: 0px;
  width: 366px;
  height: 37px;
  font-size: 26px;
}

.homepage__img {
  background-image: url("../images/background_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  min-height: 100vh;
}

.slogan {
  position: absolute;
  text-align: center;
  top: 190px;
  left: 10px;
  right: 10px;
  z-index: 2;
}

.homepage-cta {
  position: relative;
  text-align: center;
  top: 280px;
}

/*About*/

.about__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: bottom;
  background-position-y: center;
  width: 100%;
  height: auto;
  padding-top: 45px;
  padding-bottom: 20px;
}

.about__img__container {
}

/*Contact page*/

.icon-container {
  text-align: center;
}

.contact-icons {
  border-width: 1px;
  color: #0a3641;
  padding: 30px;
  margin: 30px;
  border: solid 1px black;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

/*@media*/

@media (min-width: 800px) {
  header {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    justify-content: end;
    font-size: 26px;
    font-family: "Merriweather", "bold", "Sans";
    height: 85px;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  nav li {
    display: inline-block;
    padding: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: 1px, solid;
  }

  .homepage__img {
    min-height: 100vh;
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
  }

  .about__img {
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
  }
}

@media (max-width: 700px) {
  header a {
    color: #0a3641;
    padding: 5px;
  }
  nav li {
    padding: 35px 10px;
  }
  footer {
    display: none;
  }
}

@media (max-width: 400px) {
  textarea {
    width: 268px;
    height: 27px;
    font-size: 16px;
  }

  .logo {
    position: sticky;
    padding: 2px;
    height: 50px;
  }
}
